<div class="sidebar">
  <div class="header">
    <span class="title">All Channels</span>
    <button class="add-btn">+</button>
  </div>

  <ul class="channels">
    <li class="channel-item" ng-click="$ctrl.connect('Facebook')">
      <i class="fab fa-facebook-f"></i> Connect Facebook
    </li>
    <li class="channel-item" ng-click="$ctrl.connect('Instagram')">
      <i class="fab fa-instagram"></i> Connect Instagram
    </li>
    <li class="channel-item" ng-click="$ctrl.connect(Linkedin)">
      <i class="fab fa-linkedin-in"></i> Connect LinkedIn
    </li>
  </ul>
</div>
